<div class="booyah-box col-10 offset-1">
	<%= image_tag("bg.png") %>
  <h1>Edit Your Title</h1>
  <%= simple_form_for @title do |f| %>
    <%= f.input :name %>
    <%= f.input :author %>
    <%= f.input :description %>
    <br />
    <%= f.submit 'Update', class: 'btn btn-primary' %>
  <% end %>
</div>