<div class="booyah-box col-10 offset-1">
  <h1><%= @title.name %></h1>
  <i><%= @title.author %></i>
  <br/><br/>
  <p><%= @title.description %></p>
    <div class="float-right">
    	<% if current_user && current_user == @title.user %>
    		<%= link_to 'Edit', edit_title_path(@title), class: 'btn btn-primary' %>
    		<%= link_to 'Destroy', title_path(@title), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>
    	<% end %>
  </div>
</div>